@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
 font-family: 'Poppins', sans-serif;
 overflow: hidden;
 width: 100%;
 max-height: 100vh;
}

.loginPage {
  height: 100vh;
  background-image: url(./images/mobileQuarterwheel.svg), url(./images/mobileTop.svg),  url(./images/mobileBottom.svg);
  background-size: 60%, 105%,  108%;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: 50% 0, top 0 left -1rem, left -1.5rem bottom;  
}

.gamePage {
  height: 100vh;
  background-image: url(./images/mobileTop.svg), url(./images/mobileBottom.svg);
  background-size: 105%, 108%;
  background-repeat: no-repeat, no-repeat;
  background-position: top 0 left -1rem, left -1.5rem bottom;
}

.advertise {
  display: none;
}

.errmsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.hidden {
  display: none;
}

@media screen and (min-width: 750px) and (orientation: landscape){
  .app {
    display: flex;
  }

  .loginPage {
      background-image: url(./images/tabTop.svg), url(./images/tabHalfwheel.svg), url(./images/tabBottom.svg);
      background-size: 105%, 25%, 100%;
      background-repeat: no-repeat, no-repeat, no-repeat;
      background-position: -1em -3em, 0 50%, bottom;
      flex: 1 1 50%;
  }

  .advertise {
    display: block;
    flex: 1 1 50%;
    background-image: url(./images/photo.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right 0rem bottom;
  }

  .gamePage {
    background-image: url(./images/tabTop.svg), url(./images/tabBottom.svg);
    background-size: 105%, 100%;
    background-repeat: no-repeat, no-repeat;
    background-position: -1em -3em, bottom;
    flex: 1 1 50%;
  }
  
}

@media screen and (min-width: 1200px){
  .loginPage {
      width: 100%;
      background-image: url(./images/lapWheel.svg), url(./images/lapTop.svg), url(./images/lapBottom.svg);
      background-size:  25%, 101%, 100%;
      background-repeat: no-repeat, no-repeat, no-repeat;
      background-position: 20% 50%, -1em 0, -2em bottom;
  }
  .advertise {
    display: none;
  }
  .gamePage {
    width: 100%;
    background-image: url(./images/mobileTop.svg), url(./images/mobileBottom.svg);
    background-size: 101%, 108%;
    background-repeat: no-repeat, no-repeat;
    background-position: -1em 0, -2em bottom;
  }
}

